{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title>{{title}} - Game {{game.code}}</title>        
{% endblock title %}

{% block content %}
<div class='container text-center'>
    {% if game.ready == True %}
    <div id="game_status" class="mt-3 mb-2">
        <h4>Game has started!</h4>
    </div>    
    {% else %}
    <div id="game_status" class="mt-3 mb-2">
        <h4>Waiting for game to start</h4>
    </div>
    {% endif %}

    <div id="player_details" class="mb-4">
        <h3 id="current_player" class="title-string">
            {% if game.ready == True %}
                {% if current_player.id == session_id %}
                    Your turn!
                {% else %}
                    {{current_player.name|title}} is up!
                {% endif %}
            {% endif %}
        </h3>
        <h2 id="player_turn" class="fw-bold"></h2>
    </div>

    {% if request.user.is_authenticated %}
        {% include 'core/active_game_current_player.html' %}        
    {% else %}

        {% if current_player.id == session_id %}
            {% include 'core/active_game_current_player.html' %}
        {% else %}
        {% endif %}

    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
{#<script src="{% static 'core/main.js' %}" async defer></script>#}
<script>
$(document).ready(function(){
    if("{{game.ready}}" == "True"){
        var interval = 1000
    }
    else {
        var interval = 10000
    }
    setInterval(function (){
        $.ajax({
            url: "{% url 'core:game_details' game.code %}",
            type: "GET",
            dataType: "json",
            success: function(data){
                console.log(data['setup'])
                console.log(data['ready'])
                console.log("current session id: ", data['session_player'])
                console.log(data['current_turn'])
                console.log(data['theif'])
                console.log("theif: ", data['theif_name'])
                console.log('current player name: ', data['current_player_name'])
                console.log('players with gifts count: ', data['players_with_gifts_len'])
                console.log('players with gifts list: ', data['players_with_gifts'])
                console.log('player_id: ', data["current_player_id"])
                console.log('player_turn: ', data["player_turn"])
                if(data['reload_page'] == true) {
                    location.reload()
                }
                if(data['setup'] == true && data['ready'] == false) {
                    $("#current_player").text("Your turn is")
                    $("#player_turn").text(data['player_turn'])
                }
                if(data['ready'] == true) {
                    if(data['session_player'] == data["current_player_id"]) {
                        if($('#active_player').length == 0){
                            if (data['theif']) {
                                window.navigator.vibrate(500);
                            }
                            location.reload()
                        }
                        else{
                            if (data['theif']) {
                                $("#player_turn").text("Your gift was stolen by " + data['theif_name'])
                            }
                            $("#current_player").text("Your turn!")
                        }
                    }
                    else{
                        $("#current_player").text(data['current_player_name'] + " is up!");
                        $("#player_turn").text("");
                    }
                }
            },
        });
    }, interval);
});
</script>
<script>
    /*
    $(".gift_action_form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();

        $.ajax({
            url: "{% url 'core:game_details' game.code %}",
            type: "POST",
            data: serializedData,
            success: function(data){
                console.log("Success! Next Players Turn")
            },
        })
    });
    */
</script>

{% endblock javascript %}