{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title>{{title}} - Game {{game.code}}</title>        
{% endblock title %}

{% block content %}
<div class='container'>
    {% if game.ready == True %}
    <div id="game_status">
        <p>Game has started!</p>
    </div>    
    {% else %}
    <div id="game_status">
        <p>Waiting for game to start</p>
    </div>
    {% endif %}

    <div id="player_details" class="">
        <p id="current_player">
            {% if game.ready == True %}
                {{current_player.name}} is up!
            {% endif %}
        </p>
        <p id="player_turn" class="fw-bold"></p>
    </div>

    {% if request.user.is_authenticated %}
        {% include 'core/active_game_current_player.html' %}        
    {% else %}

        {% if current_player.id == session_id %}
            {% include 'core/active_game_current_player.html' %}
        {% else %}
        {% endif %}

    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
{#<script src="{% static 'core/main.js' %}" async defer></script>#}
<script>
$(document).ready(function(){
    if("{{game.ready}}" == "True"){
        var interval = 1000
    }
    else {
        var interval = 10000
    }
    setInterval(function (){
        $.ajax({
            url: "{% url 'core:game_details' game.code %}",
            type: "GET",
            dataType: "json",
            success: function(data){
                console.log(data['setup'])
                console.log(data['ready'])
                console.log("current session id: ", data['session_player'])
                console.log(data['current_turn'])
                console.log(data['theif'])
                console.log('current player name: ', data['current_player_name'])
                console.log('players with gifts count: ', data['players_with_gifts_len'])
                console.log('players with gifts list: ', data['players_with_gifts'])
                console.log('player_id: ', data["current_player_id"])
                console.log('player_turn: ', data["player_turn"])
                if(data['reload_page'] == true) {
                    location.reload()
                }
                if(data['setup'] == true && data['ready'] == false) {
                    $("#current_player").text("Your turn is")
                    $("#player_turn").text(data['player_turn'])
                }
                if(data['ready'] == true) {
                    if(data['session_player'] == data["current_player_id"]) {
                        if($('#active_player').length == 0){
                            location.reload()
                        }
                        else{
                            $("#current_player").text("You're up!")
                        }
                    }
                    else{$("#current_player").text(data['current_player_name'] + " is up!")}
                    $("#player_turn").text("")
                }
            },
        });
    }, interval);
});
</script>
<script>
    /*
    $(".gift_action_form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();

        $.ajax({
            url: "{% url 'core:game_details' game.code %}",
            type: "POST",
            data: serializedData,
            success: function(data){
                console.log("Success! Next Players Turn")
            },
        })
    });
    */
</script>

{% endblock javascript %}