{% extends 'core/base.html' %}

{% block title %}
<title>{{title}}</title>        
{% endblock title %}

{% block content %}
<div class="container">
    <p>Dirty Santa Game</p>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% if current_game %}
            <input type="hidden" id="cont_game" name="continue" value="{{current_game}}">
            <button type="submit">Continue Game</button>
        {% else %}
            {% if request.user.is_authenticated %}
            <input type="hidden" id="new_game" name="new" value="new">
            <button type="submit">Start New Game</button>
            {% else %}
            <input type="text" name="join" placeholder="Game Code">
            <input type="text" name="name" placeholder="Name">
            <button type="submit">Join Game</button>
            {% endif %}
        {% endif %}
    </form>
</div>
{% endblock content %}