{% extends 'core/base.html' %}

{% block title %}
<title>{{title}} - Game Setup</title>        
{% endblock title %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Player</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="warning">Warning - Do not use this form to add any player who intends to use their phone.</p>
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add_player">
                        <label for="new_name">Players Name: </label>
                        <input id="new_player_name" type="text" name="new_name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Player</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container text-center mt-3">
    {% if new_player %}
    <div class="alert alert-{{new_player_outcome}} alert-dismissible fade show" role="alert">
        <strong>{{new_player}}</strong> {{new_player_message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <h2>Game: {{game.code}}</h2>
    <h4>Total Players: {{player_count}}</h4>
    {# get game ready #}
 
    <button type="button" id="refresh_page" class="btn btn-light mb-1">Refresh</button>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value="{{game.code}}">
        <input type="hidden" name="action" value="cancel">
        <button type="submit" class="btn btn-danger mb-1">Cancel Game</button>
    </form>

    {% if game.setup == False %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value="{{game.code}}">
        <input type="hidden" name="action" value="setup">
        <button type="submit" class="btn btn-info mb-1">Setup Game</button>
    </form>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="code" value="{{game.code}}">
        <input type="hidden" name="action" value="ready">
        <button type="submit" class="btn btn-success mb-1">Ready Game</button>
    </form>
    {% endif %}
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Player
    </button>
    

    {% for player in players %}
    <h3>{{player.name|title}} - Turn: <strong>{{player.turn}}</strong></h3>
    {% endfor %}

</div> 
{% endblock content %}

{% block javascript %}
<script>
    var myModal = document.getElementById('exampleModal')
    var myInput = document.getElementById('new_player_name')
    
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
</script>
<script>
    $('#refresh_page').click(function(){
        location.reload()
    })

</script>
{% endblock javascript %}